%h1.ui.centered.header
  .column
    Sign in to BitHug
  .column
    = image_tag 'login/bithug_logo', class: 'ui centered image tiny'
%p

.ui.container
  .ui.centered.two.column.grid
    #classic_login.column
      .ui
        = image_tag 'login/bithug_login', class: 'ui centered image', id: 'bithug_login'
    .column
      = link_to login_redirect_to_app_path do
        .ui.huge.fluid.primary.button.login-with-epicauth
          .bland-button
            = image_tag 'login/epicauth_approved', class: 'ui centered image medium'
            Login with EpicAuth
